{% extends 'base.html.twig' %}

{% block title %}EDIT PROFILE{% endblock %}

{% block body %}

    <div class="flex flex-col items-center justify-center h-screen">
        <div class="mb-8">
            <h1 class="text-8xl font-bold mt-20 text-primary">EDIT PASSWORD</h1>
        </div>

        <div class="max-w-md mx-auto p-6 bg-primary rounded-md shadow-md">
            {{ form_start(form) }}

            <div class="mb-4 hidden" id="passwordFields">
                <p>New Password</p>
                {{ form_widget(form.password, {
                    'label': 'New pwd',
                    'attr': {'class': 'border rounded-md py-2 px-3 w-full bg-base-200'}
                }) }}

                <button type="submit" class="btn btn-secondary mt-4">Save</button>
            </div>

            <a href="#" class="btn btn-accent" id="changePasswordButton">Change Password</a>
            <a href="{{ path('app_profile') }}" class="btn btn-accent">Return to profile</a>
            {{ form_end(form) }}
        </div>
    </div>

    <script>
        document.getElementById('changePasswordButton').addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('passwordFields').classList.remove('hidden');
            this.classList.add('hidden');
        });
    </script>

{% endblock %}
